h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

.container {
  padding: 15px;
}

.mono {
  padding: 7px 15px;
  font-family: monospace;
  background: #e4e4e4;
}

.row {
  display: flex;
  justify-content: space-between;
}