@use '@swo/design-tokens/src/lib/design-tokens-css-vars';

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

.container {
  padding:var(--spacing-3);
}

.header {
  display: flex;
  justify-content:flex-start;
  gap: var(--spacing-3);
  padding: var(--spacing-2) var(--spacing-3);
  background: var(--brand-white);
  border-bottom: 1px solid var(--gray-2);

  button.active {
    background-color: var(--brand-primary);
    color: var(--brand-white);
    font-weight: bold;
  }

  .debug-toggle {
    margin-left: auto;
  }
}

@media (max-width: 1024px) {
  .container {
    font-size: 30px;
  }
}
